.edit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 5% 0% 5% 0%;
}

.edit-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1em;
    flex: 0 1 25%;
    border-style: ridge;
    border-radius: 10px;
    border-width: 2px;
    max-width: 20%;
    padding: 10px 10px 0px;
    box-shadow: 0 4px 8px 0 lightgray;
    background-color: lightgrey;
    margin: 5px 10px;
}

th, td {
    text-align: center;
}

.hidden {
    display: none;
}

@media (max-width: 600px){
    .edit-card {
        flex: 1 1 100%;
        max-width: 75%;
    }

    .edit-container{
        padding: 4% 0% 4% 0%;
    }
}

@media (max-width: 800px) and  (min-width: 601px) {
    .edit-card {
        max-width: 40%;
    }

    .edit-container{
        padding: 4.75% 0% 4.75% 0%;
    }
}