.edit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 5% 0% 5% 0%;
}

.edit-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1em;
    flex: 0 1 25%;
    border-style: ridge;
    border-radius: 10px;
    border-width: 2px;
    max-width: 24%;
    padding: 10px 10px 0px;
    box-shadow: 0 4px 8px 0 lightgray;
    background-color: lightgrey;
    margin: 5px 10px;
}

th, td {
    text-align: center;
}

table.events tr:hover td {
    background-color: rgb(185, 184, 184);
}

table.news tr:hover td {
    background-color: rgb(185, 184, 184);
}

.hidden {
    display: none;
}

.editButton {
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    border: none;
    background-color: rgb(155, 151, 151);
}

.editButton:hover {
    background-color: rgb(114, 111, 111);
    box-shadow: 0px 0px 4px 1px rgb(95, 93, 93);
}

#edit-description, #add-description {
    height: 200px;
    overflow-wrap: anywhere;
}

@media (max-width: 600px){
    .edit-card {
        flex: 1 1 100%;
        max-width: 75%;
    }

    .edit-container{
        padding: 4% 0% 4% 0%;
    }
}

@media (max-width: 800px) and  (min-width: 601px) {
    .edit-card {
        max-width: 40%;
    }

    .edit-container{
        padding: 4.75% 0% 4.75% 0%;
    }
}