.card{
    flex: 1;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    border-style: ridge;
    border-radius: 10px;
    border-width: 2px;
    padding: 10px 10px 0px;
    box-shadow: 0 4px 8px 0 lightgray;
    background-color: #8c52ff44;
    margin: 5px 10px;
}

.pageHeader{
    background-color: #8c52ffa9;
    max-width: 35%;
    text-align: center;
}
h1{
    color: white;
}

.container{
    display: flex;
    flex-direction: row;
}

.photoContainer{
    max-width: 50%;
    max-height: 75vh;
    margin: 5px;
}

.mainPhoto{
    margin-top: 20%;
    border-radius: 10px;
    max-width: 100%;
    max-height: 75vh;
    margin-right: 20%;
}

.extraPhoto{
    display:none;
}

.textSection{
    max-width: 75%;
}

@media (max-width: 800px){

    .mainPhoto{
        margin-top: 5%;
    }
    .extraPhoto{
        border-radius: 10px;
        display: block;
        max-width: 100%;
        margin-top: 10%;
    }

    .pageHeader{
        max-width: 50%;
    }
    
    .textSection{
        max-width: 50%;
    }
}

.aboutFont{
    text-align: center;
    font-size: 20px;
}