.event-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 5% 0% 0% 0%;
    flex: 1;
    min-height: 100%;
}

.event-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1em;
    flex: 1 1 25%;
    border-style: ridge;
    border-radius: 10px;
    border-width: 2px;
    max-width: 23%;
    padding: 10px 10px 0px;
    box-shadow: 0 4px 8px 0 lightgray;
    background-color: lightgrey;
    margin: 5px 10px;
    min-height: 100%;
}

.event-image {
    border-radius: 10px;
    width: 100%;
    min-height: 40%;
}

.card-icons {
    height: 30px;
    width: 30px;
    padding: 5px;
    filter: invert(55%) sepia(6%) saturate(246%) hue-rotate(169deg) brightness(94%) contrast(90%);
    display: inline;
}

.event-line {
    display: flex;
    margin-left: 0;
    margin-right: auto;
    align-items: center;
}

.event-card h2:first-of-type {
    margin-block-start: 20px;
}

.event-card h2 {
    margin-block-start: 5px;
    margin-block-end: 10px;
}