@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");

:root {
  --background: lightgray;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(256, 256, 256);
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

header {
  background: var(--background);
  text-align: center;
  position: sticky;
  top: 0;
  /*z-index: 999;*/
  width: 100%;
  display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
}

nav {
  position: sticky;
  text-align: left;
  transition: none;
  transform: scale(1, 1);
  background: none;
  top: 0;
  left: initial;
  height: 5em;
  z-index: 10;

  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 3em;
  margin-bottom: 0;
  text-align: center;
}


nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: #000;
}

.menuButton{
  display: none;
}

/*navigation styles start here*/
@media (max-width: 800px) {

  h2{
    display: none;
  }

  nav::before{
    clear: both;
  }

  nav ul {
    flex-direction: column;
    margin: 0;
    padding: 0%;
    list-style: none;
  }
  
  nav li {
    margin-top: 1em;
  }

  nav {
    flex-direction: column;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }

  .menuButton{
    display: block;
  }

  .menuButton:hover ~ nav{
    transform: scaleY(1);
  }
}
/*End of regular nav*/

.logo {
  width: 100px;
}

h2{
  text-align: left;
  color: white;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*navigation styles end here*/

/*home page content starts here*/
.home-outer img{
  width: 100%;
}

/*top of page*/

.slogan {
  margin: 0;
  font-size: 3rem;
  text-align: center;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
/*center bottom of page*/
.center {
  position: relative;
  width: auto;
  height: 100%;
}

.light-purple {
  background-color: #d3bdff;
  margin: 2em 1em 0em 1em;
  width: auto;
  padding: 0;
}

.subtitle {
  font-size: 1.5rem;
  margin: 0;
}